.container{
  /* background: var(--black); */
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */

  overflow-y: hidden;

  display: flex;
  justify-content: center;

  height: 100vh;

}

.content{
  background: var(--gray-100);
  max-width: 23.5rem;
  width: 100%;
  height: 100vh;

  padding-right: 16px;
  padding-left: 16px;

  overflow-y: auto;
  overflow-x: hidden;

  /* border-radius: 10px; */
}

.containerHeader{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px 0px 0px 0px;
}

.containerHeader h1 {
  color: black;
  font-size: 20px;
}

.containerTodo {
  margin: 2rem auto;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerOpenModal{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-95%);

  max-width: 3rem;
  width: 100%;

  z-index: 1;
}

.buttonAddTask {
  background: var(--blue);
  color: white;

  border-radius: 100%;

  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-95%);

  max-width: 3rem;
  width: 100%;
  height: 3rem;

  /* box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.2); */
}

.buttonAddTask img {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  html{
    font-size: 87.5%;
  }
}