.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  background: white;
  padding: 20px 20px 20px 20px;

  margin-bottom: 10px;
  border-radius: 7px;
}

.sectionTask {
  display: flex;
  max-width: 12rem;
  width: 100%;
  gap: 10px
}

.taskCompleted {
  text-decoration: line-through;
}

.displayTask{
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  font-weight: lighter;

  color: black;
  word-wrap: normal;
  overflow-wrap: break-word;
}

input[type="checkbox"] {
  accent-color: var(--blue);
}
span:first-child{
  font-weight: bold;
  font-size: 15px;
}

.secondDiv {
  display: flex;
  gap: 4px;
}

.secondDiv button{
  background: transparent;
}

.secondDiv button:hover {
  color: var(--danger);
}