.container{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.507);
  z-index: 2;
}

.content {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-100%);

  max-width: 23.5rem;
  width: 100%;

  background: #F3F3F3;

  border-radius: 20px 20px 0px 0px;

  padding: 30px;
}

.headerModal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.inputFormCreateTask{
  width: 100%;
  height: 58px;
  background: white;

  border-radius: 10px;
  padding-left: 16px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buttonSubmitForm {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

}

.buttonSubmitFormCancel {
  color: #4285F4;
  width: 40%;
  
  cursor: pointer;
}
.buttonSubmitFormSave {
  background-color: #4285F4;
  color: white;
  width: 60%;
  padding: 15px;
  border-radius: 7px;
  
  cursor: pointer;
}
